.first-page-item {
    display: block;
    padding:8px 30px 10px 30px;
    border-bottom:1px solid #ddd;

    transition:0.4s ease;
    -webkit-transition:0.4s ease;
    -moz-transition:0.4s ease;
    -o-transition:0.4s ease;
}