
.list-item{
    display: block;
    padding:8px 30px 10px 30px;
    border-bottom:1px solid #ddd;

    transition:0.4s ease;
    -webkit-transition:0.4s ease;
    -moz-transition:0.4s ease;
    -o-transition:0.4s ease;
}

.list-item:last-of-type{
    border-bottom: none;
}

.list-item:hover{
    /*background-color: rgba(0,0,6,0.05);*/
}


/*表格*/
table.alt-rows-table {
    font-family: verdana,arial,sans-serif;
    font-size:14px;
    color:#333333;
    border-width: 1px;
    border-color: #a9c6c9;
    border-collapse: collapse;
}
table.alt-rows-table th {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #a9c6c9;
}
table.alt-rows-table td {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #a9c6c9;
}

/*奇数行*/
.odd-row-color{
    background-color:#FFCBB3;
}

/*偶数行*/
.even-row-color{
    background-color:#FFF0AC;
}

.red-font {
    color: #fe5d4e;
    font-weight: bold;
}

.yellow-font {
    color: #FF7F24;
    font-weight: bold;
}